.header {
    overflow: hidden!important;
}

#myVideo {
    /* position: relative!important; */
    right: 0!important;
    bottom: 0!important;
    min-width: 100%!important;
    max-height: 100%!important;
    
  }

  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }